<nav>
    <div class="nav-wrapper nav-bar">
      <a href="/" class="brand-logo">Dojo Chats</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Back</a></li>
      </ul>
    </div>
</nav>

<!-- <div class="nav-bar row">
	<div class="col l6 text-white">
		<h3 class="white-text">Dojo Chats</h3>
		<p class="white-text">A place for ninjas to chat.</p>
	</div>
	<div class="col l3">
		<a href="/" class="move-right">Back</a>
	</div>
</div> -->
<div class="container">
	<h3>About</h3>
	<h5>Dojo Chats is a chat room that uses different technologies to allow users to instantly receive and send messages.</h5>
	<p class="bold">Technologies:</p>
	<div>
		<img src="images/angular.png" class="tech-icon">
		<img src="images/CSS.png" class="tech-icon">
		<img src="images/expressjs.png" class="tech-icon">
		<img src="images/HTML.png" class="tech-icon">
		<img src="images/JavaScript.png" class="tech-icon">
		<img src="images/materialize.png" class="tech-icon">
		<img src="images/mongodb.png" class="tech-icon">
		<img src="images/nodejs.png" class="tech-icon">
		<img src="images/socket.png" class="tech-icon">
		<img src="images/MEAN.png" class="tech-icon">
	</div>

	<h3>Meet the Team</h3>
	<h5 id="team-des">We are a diverse team of Coding Dojo Dallas students.</h5>

	<!-- MD RAHAMAN -->
	<div class="row center-align">
		<div class="profile col s10 m3 l3 offset-l1 offset-m1 offset-s1">
			<img src="images/md.jpg"  class="team-pic">
			<div class = "row member-info">
				<h5>Md Rahaman</h5>
				<div class="contact-info">
					<a href="mailto:soikatesc@gmail.com">soikatesc@gmail.com</a>
					<div id = icons>
						<a href="https://github.com/soikatesc" class="fa fa-github" target = "_blank"></a>
						<a href="https://www.linkedin.com/in/md-rahaman-750870105/" class="fa fa-linkedin" target = "_blank"></a>
				    </div> 
		    	</div>
				<p>Md has an electrical engineering background and decided to study at Coding Dojo to become a fullstack developer. He loves to play cricket and his favorite team is Bangladesh.</p>
			</div>
		</div>

		<!-- ANDY LI -->
		<div class="col s10 m3 l3 offset-s1">
			<img src="images/andy.jpg" class="team-pic">
			<div class = "row member-info">
				<h5>Andy Li</h5>
				<div class="contact-info">
					<a href="mailto:iandyli@gmail.com">iandyli@gmail.com</a>
					<div id = icons>
						<a href="https://github.com/iliandy" class="fa fa-github" target = "_blank"></a>
						<a href="https://www.linkedin.com/in/andy-li-104577144/" class="fa fa-linkedin" target = "_blank"></a>
				    </div> 
		    	</div>
				<p>Andy has a BS in electrical engineering and applied math. He loves problem solving and his favorite language is python.  On his spare time, Andy participates in endurance events and other outdoor activities.</p>
			</div>
		</div>
	</div>

	<!-- PATSY -->
	<div class="row center-align">
		<div class="profile col s10 m3 l3 offset-l1 offset-m1 offset-s1">
			<img src="images/patsy.jpg" class="team-pic">
			<div class = "row member-info">
				<h5>Patsy Pineda</h5>
				<div class="contact-info"> 
					<a href="mailto:patsyp014@gmail.com">patsyp014@gmail.com</a> 
					<div id = icons>
						<a href="https://github.com/patsyp" class="fa fa-github" target = "_blank"></a>
						<a href="https://www.linkedin.com/in/patsy-pineda-555837a5/" class="fa fa-linkedin" target = "_blank"></a>
				    </div>
		    	</div> 
				<p>Patsy majored in English, but her enthusiasm for figuring out how things work made her discover the world of coding.  When she is not studying at the Dojo, she is playing at the park with her dog.</p>
			</div> 
		</div>

		<!-- Emmanuel Ogbeide -->
		<div class="col s10 m3 l3 offset-s1">
			<img src="images/emmanuel.jpg" class="team-pic">
			<div class = "row member-info">
				<h5>Emmanuel Ogbeide</h5>
				<div class="contact-info">
					<a href="mailto:emmanuel.ogbeide95@gmail.com">emmanuel.ogbeide95@gmail.com</a>
					<div id = icons>
						<a href="https://github.com/1aldebaran" class="fa fa-github" target = "_blank"></a>
						<a href="https://www.linkedin.com/in/eaogbeide/" class="fa fa-linkedin" target = "_blank"></a>
				    </div> 
				</div>
				<p>Emmanuel majored in Civil Engineering, but decided to become a software developer when he realized his true passion is in creating applications. He loves video games and board games likes chess and scrabble.</p>
			</div>
		</div>
	</div>
</div>
