
<div class="container">
	<h2> About</h2>
	<p>Dojo Chats is a chat room that uses different technologies to allow users to instantly receive and send messages and files.</p>
	<p>Techonologies:</p>
	<div>
		<img src="images/angular.png" class="tech-icon">
		<img src="images/CSS.png" class="tech-icon">
		<img src="images/expressjs.png" class="tech-icon">
		<img src="images/HTML.png" class="tech-icon">
		<img src="images/JavaScript.png" class="tech-icon">
		<img src="images/materialize.png" class="tech-icon">
		<img src="images/mongodb.png" class="tech-icon">
		<img src="images/nodejs.png" class="tech-icon">
		<img src="images/socket.png" class="tech-icon">
		<img src="images/MEAN.png" class="tech-icon">
	</div>

</div>
<div class ="container">
<h2>Meet the Team</h2>
<h5 id="team-des">We are a diverse team of Coding Dojo students in Dallas.</h5>
<!-- MD RAHAMAN -->
<div class="row" id="member-container">
	<div class="profile-container col s3">
		<img src="images/md.jpg"  class="team-pic">
		<div class = "member-info">
			<h5>Md Rahaman</h5>
			<p>Md has an electrical engineering background and decided to study at Coding Dojo to become a fullstack developer. He loves to play cricket and his favorite team Bangladesh.</p>
		</div>
		<div class="contact-info">
			<p> soikatesc@gmail.com</p>
				<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/soikatesc" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/md-rahaman-750870105/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div> 
	    </div>
	</div>
	<!-- ANDY LI -->
	<div class="profile-container col s3">
		<img src="images/andy.jpg" class="team-pic">
		<div class = "member-info">
			<h5>Andy Li</h5>
			<p>Andy has a BS in electrical engineering and applied math. He loves problem solving and his favorite language is python.  On his spare time, Andy participates in marathons and other outdoor activities.</p>
		</div>
		<div class="contact-info">
			<p> iandyli@gmail.com</p>
			<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/iliandy" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/andy-li-104577144/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div> 
	    </div>
	</div>
	<!-- PATSY -->
	<div class="profile-container col s3" >
		<img src="images/patsy.jpg" class="team-pic">
		<div class = "member-info">
			<h5>Patsy Pineda</h5>
			<p>Patsy majored in English, but her enthusiasm for figuring out how things work made her discover the world of coding.  When she is not studying at the Dojo, she is playing at the park with her dog.</p>
		</div> 
		<div class="contact-info"> 
		<p> patsyp014@gmail.com</p> 
			<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/patsyp" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/patsy-pineda-555837a5/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div>
	    </div> 
	</div>
	<!-- Emmanuel Ogbeide -->
	<div class="profile-container col s3">
		<img src="images/emmanuel.jpg" class="team-pic">
		<div class = "member-info">
			<h5>Emmanuel Ogbeide</h5>
			<p>Emmanuel majored in Civil Engineering, but decided to become a software developer when he realized his true passion is in creating applications. He loves video games and board games likes chess and scrabble.</p>
		</div>
		<div class="contact-info">
			<p> emmanuel.ogbeide95@gmail.com</p>
			<!-- Icons -->
			<div id = icons>
				<ul>
				    <li><a href="https://github.com/1aldebaran" class="fa fa-github" target = "_blank"></a></li>
				    <li><a href="https://www.linkedin.com/in/eaogbeide/" class="fa fa-linkedin" target = "_blank"></a></li>
			    </ul>
		    </div> 
		</div>
		
	</div>
</div>
</div>