<div ng-controller="QuestionsController as QC">
	<div id="navbar">
	<nav class="navbar navbar-default">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/dashboard">Home</a>
      <a class="navbar-brand" href="#!/new_question">Add a Question</a>
      <a class="navbar-brand" href="#!/chats">CHAT</a>
    </div>
          <ul class="nav navbar-nav navbar-right">
      	<li><a class="navbar-brand" href="#" ng-click="UC.logout()">Logout</a></li>
      </ul>

  	</div><!-- /.container-fluid -->
	</nav>
	</div>
	<h1>Add a new Question</h1>
	<hr>
	<p class="errors" ng-repeat="error in QC.new_question_errors">{{error}}</p>
	<div class="row">
	<form class="form-group col-md-6" ng-submit="QC.createQuestion(QC.newQuestion)">

		<div class="form-group">
			<label for="question">Question</label>
			<input ng-model="QC.newQuestion.question" type="text" class="form-control" id="question" placeholder="Enter a question">
		</div>

		<div class="form-group">
			<label for="description">Question</label>
			<textarea ng-model="QC.newQuestion.description" type="text" class="form-control" id="description" placeholder="optional"></textarea>
		</div>

		<input type="submit" class="btn btn-lg btn-primary" value="Submit">

	</form>
	</div>

</div>